@media screen and (max-width: 1400px) {
  .palm-tree-rt {
    right: -14%;
  }
  .palm-tree-lt {
    left: -14%;
  }
  .cta-contact-textbox,
  .contact-textbox {
    font-size: 1.6rem;
  }
  .accordion-item-body {
    overflow: scroll;
  }
}
@media screen and (max-width: 1200px) {
  .palm-tree-rt {
    right: -20%;
  }
  .palm-tree-lt {
    left: -20%;
  }
  .cta-contact-textbox,
  .contact-textbox {
    font-size: 1.4rem;
  }
  .tap {
    opacity: 1;
  }
}
@media screen and (max-width: 1000px) {
  .product-row {
    column-gap: 5rem;
  }
  .nav-gap {
    gap: 1.6rem;
  }
  .cta-head-home {
    font-size: 3.2rem;
  }
  .hero-text {
    right: 4%;
    top: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .palm-tree-rt {
    right: -26%;
  }
  .palm-tree-lt {
    left: -26%;
  }
  .foot-box {
    justify-content: space-between;
  }
  .contacts {
    width: max-content;
  }
  section.hero div.hero-text a.btn.btn--outline {
    display: none;
  }
  .all-cities .col {
    flex: none;
  }
}
@media screen and (max-width: 800px) {
  .column {
    flex: 33.33%;
    max-width: 33.33%;
  }
  .nav-gap {
    gap: 1rem;
  }
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.5rem;
  }
  .about-hero {
    background-position: 50% 33%;
  }
}

@media screen and (max-width: 767px) {
  /* MOBILE HEADINGS */
  body {
    line-height: 0.8rem;
  }

  /* MOBILE NAVIGATION */

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    left: 0;
    background-color: #fff;
    width: 100%;
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }

  .navbar li {
    padding: 15px;
  }

  .navbar li:first-child {
    margin-top: 1.5rem;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }
  .product-row {
    row-gap: 5rem;
  }
  .palm-tree-rt {
    right: -32%;
  }
  .palm-tree-lt {
    left: -32%;
  }
  .distribution,
  .about-description,
  .heading-description {
    font-size: 2rem;
    line-height: 1.2;
  }
  .about-grid {
    text-align: left;
  }
  div.col.top {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 712px) {
  .palm-tree-rt {
    right: -38%;
  }
  .palm-tree-lt {
    left: -38%;
  }
  .nav-gap {
    gap: 0.6rem;
  }
  .nav-link {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 640px) {
  .nav-link {
    font-size: 1.35rem;
  }
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.3rem;
    padding: 1.1rem 2.4rem;
  }
  .hero-text {
    right: 4%;
    top: 84%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    margin-left: auto;
    margin-right: auto;
    flex: 90%;
    max-width: 90%;
  }
  .distribution,
  .about-description,
  .heading-description {
    font-size: 1.6rem;
    max-width: 95%;
  }
  .palm-tree-rt {
    right: -26%;
  }
  .palm-tree-lt {
    left: -26%;
  }
  .palm-img {
    width: 320px;
  }
  .heading-secondary {
    font-size: 3.2rem;
  }
  .hero-text {
    display: none;
  }
  .cta-imgbox,
  .cta-textbox {
    padding: 0 4rem 2rem 4rem;
  }
  .about-hero {
    background-size: cover;
  }
}
@media screen and (max-width: 574px) {
  #inquiry {
    margin: 0 auto 0 12px;
  }
  .cta-contact-textbox,
  .contact-textbox {
    font-size: 1.2rem;
  }
  .footer {
    margin: 8rem 7px 0;
  }
  .about-hero,
  .dist-hero {
    background-position: inherit;
    background-attachment: inherit;
  }
}
@media screen and (max-width: 450px) {
  .palm-tree-rt,
  .palm-tree-lt {
    display: none;
  }
}
