/* /////////////////////////////
Navbar */
.navbar {
  display: grid;
  font-family: "Montserrat";
  background-color: #ffffff;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 5.5rem;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  box-shadow: 0px -2px 10px rgb(0 0 0 / 15%);
  z-index: 9999;
}

.logo {
  height: 4.4rem;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-self: end;
}

.nav-item a {
  color: #3c1518;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: #f0a202;
}

/*////////////////////////////////////// 
MOBILE MENU & ANIMATION */

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: inherit;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/*////////////////////////////
 Hero */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.vid-wrapper {
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.vid-wrapper video,
.vid-wrapper object,
.vid-wrapper embed {
  position: absolute;
  top: 13px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0a202;
}

.statement,
.products,
.testimonials,
.distribution,
.about {
  padding: 4rem 0;
}

.hero-text {
  position: absolute;
  right: 7%;
  top: 70%;
}

h2.heading-secondary.head-hero {
  font-size: 4.4rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #ffffff;
  z-index: 9998;
}

.heading-description {
  font-size: 2.2rem;
  line-height: 1.8;
  text-align: center;
}

.row {
  --bs-gutter-x: 0;
}

.hero-alt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60vh;
  background-color: #555555;
}

.dist-hero {
  background-image: url(../imgs/hero-pool.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 50%;
  background-size: cover;
}

.about-hero {
  background-image: url(../imgs/drink.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 25%;
}

.down-arrow {
  height: 2.4rem;
  width: 2.4rem;
}

.nutrition-link {
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.8rem;
  margin: 40px 0 0 0;
  color: #0a618c;
}

.statement {
  background-color: #f0a202;
  width: 100vw;
}

/*////////////////////////////
 Products */
.products {
  position: relative;
}

.product-row {
  justify-content: center;
  column-gap: 10rem;
}

.pro-card {
  position: relative;
  border-radius: 3px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.404);
}

.container .pro-card {
  position: relative;
  width: 320px;
  height: 500px;
  background: #ffffff;
  overflow: hidden;
  padding-left: 0;
}

.palm-tree-rt {
  position: absolute;
  top: 30%;
  right: -10%;
  z-index: -9;
}

.palm-tree-lt {
  position: absolute;
  top: 30%;
  left: -10%;
  z-index: -9;
}

.fromLeft,
.fromRight {
  transition: opacity 400ms ease-in-out, transform 0.6s ease-in-out;
  -webkit-transition: opacity 400ms ease-in-out, transform 0.6s ease-in-out;
  opacity: 0;
}

.fromRight.appear {
  transform: rotate(-0.07turn);
  -o-transform: rotate(-0.07turn);
  -ms-transform: rotate(-0.07turn);
  -moz-transform: rotate(-0.07turn);
  -webkit-transform: rotate(-0.07turn);
  opacity: 1;
}

.fromLeft.appear {
  transform: rotate(0.07turn);
  -o-transform: rotate(0.07turn);
  -ms-transform: rotate(0.07turn);
  -moz-transform: rotate(0.07turn);
  -webkit-transform: rotate(0.07turn);
  opacity: 1;
}

.fromLeft {
  transform: translateX(-40%);
  -o-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  -moz-transform: translateX(-40%);
  -webkit-transform: translateX(-40%);
}

.fromRight {
  transform: translateX(40%);
  -o-transform: translateX(40%);
  -ms-transform: translateX(40%);
  -moz-transform: translateX(40%);
  -webkit-transform: translateX(40%);
}

.container .pro-card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.container .pro-card:hover .imgBx {
  top: 0%;
  transform: translateY(-25%);
  /* bug  */
}

.tap {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
}

.bottle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-1deg);
  width: 80px;
}

.can {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  transform: translate(-50%, -15%) rotate(-1deg);
}

.container .pro-card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 90;
}

.container .pro-card:hover .contentBx {
  height: 225px;
}

.container .pro-card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #333333;
  margin-bottom: 25px;
}

.container .pro-card .contentBx .details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.container .pro-card:hover .contentBx .details {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .pro-card .contentBx .details h3 {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .pro-card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #ffffff;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.container .pro-card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.3s;
}

/*////////////////////////////
Accordian */
.accordion {
  width: 86%;
  margin: 2rem auto;
}

.accordion-item {
  background-color: #ffffff;
  color: #333333;
  margin: 1rem 0;
  border-radius: 3px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.404);
}

.accordion-item-header {
  padding: 1rem 3rem 1rem 1rem;
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "\25BE";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  transition: ease-in-out 0.3s;
}

.accordion-item-header.active::after {
  transform: rotate(-180deg);
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #f0a202, transparent) 1;
}

/*////////////////////////////
Table */
.styled-table {
  border-collapse: collapse;
  margin: 2.5rem auto;
  font-size: 1.8rem;

  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr:nth-child(1) {
  line-height: 1;
}

.styled-table tbody tr:nth-child(1) {
  font-weight: 600;
  background-color: #fff2d9;
  color: #3c1518;
}

.styled-table td:first-child {
  font-weight: 600;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #f0a202;
}

/*////////////////////////////
Testimonials */
.testimonials {
  background-color: #0a618c;
}

/*////////////////////////////
About Us */
.white-sec-about {
  background-color: #ffffff;
}

.about-grid {
  text-align: center;
}

.about-img {
  width: 360px;
  padding: 1rem 1rem 4.8rem 1rem;
  background-color: #ffffff;
  margin: 5rem auto !important;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  transition: all 0.3s ease-in-out;
}

.about-img.ruth {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.about-img:hover {
  box-shadow: rgba(38, 57, 77, 0.5) 0px 20px 30px -10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transform: scale(1.1);
}

.about-description {
  margin: auto;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #3c1518;
}

/*////////////////////////////
CTA */

.section-cta {
  padding: 4.8rem 0 12.8rem;
  width: 100vw;
}

.cta-head-home {
  font-size: 4rem;
}

.cta-home {
  margin-top: 8rem;
  justify-content: center;
  align-items: center;
}

.cta-btn-home {
  background-color: #f0a202;
  color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.199);
  margin: 5px 10px;
}

.cta {
  background-color: #f0a202;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  background-image: linear-gradient(rgba(253, 177, 26, 0.205),
      rgba(240, 161, 2, 0.205));
  overflow: hidden;
}

.cta-textbox {
  padding: 0 7rem 2rem 7rem;
  color: #3c1518;
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: center;
}

.contact-textbox {
  color: #3c1518;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-contact-textbox {
  color: #3c1518;
  font-size: 1.8rem;
  line-height: 1.8;
}

.cta-imgbox {
  width: 100%;
  height: auto;
  padding: 0 7rem;
  border-radius: 3px;
}

/* ///////////////////////////////
Distributor */
.all-cities {
  max-width: 95%;
  padding-top: 10rem;
  margin: 0 auto;
  line-height: 1.2;
  column-gap: 5px;
  row-gap: 8px;
}

.cities,
.country {
  font-size: 1.4rem;
  width: fit-content;
}

.cities {
  font-weight: bold;
}

.inquiry-box {
  margin-top: 3rem;
}

.inquiry-list {
  width: fit-content;
  text-align: left;
  margin: 0 auto;
  list-style-type: circle;
}

/* //////////////////////////////
Collage */
.column {
  flex: 1/3;
  max-width: 33.33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0 16px #333;
  transition: all 0.5s ease;
}

.column img:hover {
  box-shadow: 0 0 32px #333;
  transform: scale(1.1);
}

.column video {
  margin-top: 8px;
  vertical-align: middle;
  border-radius: 3px;
  width: 100%;
  transition: all 0.5s ease;
}

.column video:hover {
  box-shadow: 0 0 32px #333;
  transform: scale(1.1);
}

/* ////////////////////////////////
Footer */
#fax {
  color: #3c1518;
}

.footer {
  margin: 8rem auto 0;
  padding: 0;
  border-top: 1px solid #eeeeee;
}

.foot-box {
  margin: 2rem auto;
  justify-content: left;
}

.foot-logo {
  width: 10rem;
}

.contacts {
  padding: 1rem 1rem 1rem 0;
}

.footer .copy {
  text-align: center;
  border-top: 1px solid #eeeeee;
}