@media screen and (max-width: 1400px) {
  .palm-tree-rt {
    right: -14%;
  }
  .palm-tree-lt {
    left: -14%;
  }
  .cta-contact-textbox,
  .contact-textbox {
    font-size: 1.6rem;
  }
  .accordion-item-body {
    overflow: scroll;
  }
}
@media screen and (max-width: 1200px) {
  .palm-tree-rt {
    right: -20%;
  }
  .palm-tree-lt {
    left: -20%;
  }
  .cta-contact-textbox,
  .contact-textbox {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1000px) {
  .product-row {
    column-gap: 5rem;
  }
  .nav-gap {
    gap: 1.6rem;
  }
  .cta-head-home {
    font-size: 3.2rem;
  }
  .hero-text {
    right: 4%;
    top: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .palm-tree-rt {
    right: -26%;
  }
  .palm-tree-lt {
    left: -26%;
  }
  .foot-box {
    justify-content: space-between;
  }
  .contacts {
    width: max-content;
  }
  section.hero div.hero-text a.btn.btn--outline {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .column {
    flex: 33.33%;
    max-width: 33.33%;
  }
  .nav-gap {
    gap: 1rem;
  }
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .product-row {
    row-gap: 5rem;
  }
  .palm-tree-rt {
    right: -32%;
  }
  .palm-tree-lt {
    left: -32%;
  }
  .heading-description {
    font-size: 2rem;
  }
}
@media screen and (max-width: 712px) {
  .palm-tree-rt {
    right: -38%;
  }
  .palm-tree-lt {
    left: -38%;
  }
  .nav-gap {
    gap: 0.6rem;
  }
  .nav-link {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 640px) {
  .nav-link {
    font-size: 1.35rem;
  }
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 600px) {
  .column {
    margin-left: auto;
    margin-right: auto;
    flex: 90%;
    max-width: 90%;
  }
  .heading-description {
    font-size: 1.8rem;
  }
}
