/*////////////////////////////
 Hero */

.video-wrapper {
  width: 100%;
  height: auto;
  object-fit: cover;
  font-size: 0;
  text-align: center;
}

.video-wrapper:before {
  content: "";
  width: 1px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: -1px;
}

.video-wrapper video {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.navbar {
  height: 9rem;
  z-index: 9999;
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}

.navbar a {
  color: #3c1518;
}

.nav-link {
  display: flex;
  gap: 2rem;
  color: #000000;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  padding: 2px;
}

.active {
  color: #f0a202 !important;
}

.nav-gap {
  display: flex;
  gap: 2rem;
}
.navbar-toggler {
  border: none;
}

.logo {
  width: 6rem;
}

.statement,
.products,
.testimonials,
.distribution,
.about {
  padding: 4rem 0;
}
.hero-text {
  position: absolute;
  right: 7%;
  top: 40%;
}
h2.heading-secondary.head-hero {
  font-size: 4.4rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #ffffff;
  z-index: 9998;
}
.heading-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.hero-alt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60vh;
  background-color: #555555;
}
.dist-hero {
  background-image: url(../imgs/hero-pool.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% left;
  background-size: cover;
}

.about-hero {
  background-image: url(../imgs/drink.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 25%;
}
.hero-btn {
  display: inline-block;
  margin-top: 30rem;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  background-color: #0a618c;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.down-arrow {
  height: 2.4rem;
  width: 2.4rem;
}

.nutrition-link {
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.8rem;
  margin: 40px 0 0 0;
  color: #0a618c;
}
.statement {
  background-color: #f0a202;
  width: 100vw;
}
/*////////////////////////////
 Products */
.products {
  position: relative;
}
.pro-card {
  position: relative;
  border-radius: 3px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.container .pro-card {
  position: relative;
  width: 320px;
  height: 500px;
  background: #ffffff;
  overflow: hidden;
  padding-left: 0;
}

.container .pro-card:after {
  content: "Mega Malt";
  position: absolute;
  top: 5%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.11);
}
.palm-tree {
  position: absolute;
  top: 30%;
  right: -30%;
  z-index: -9;
  transition: all ease-in-out 0.3s;
}
/* .hideMe {
  opacity: 0;
}
.fromRight {
  transform: translateX(-10%);
  top: 30%;
  right: -10%;
  opacity: 1 !important;
} */

/* .fromRight.appear,
.fromLeft.appear {
  transform: translateX(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}
.from-left {
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}

.from-right {
  transform: translateX(50%);
  -o-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -webkit-transform: translateX(50%);
}
.fadeIn {
  -webkit-animation: fadeIn 1.2s both;
  -moz-animation: fadeIn 1.2s both;
  -o-animation: fadeIn 1.2s both;
  animation: fadeIn 1.2s both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.container .pro-card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.container .pro-card:hover .imgBx {
  top: 0%;
  transform: translateY(-25%);
  /* bug  */
}

.bottle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-1deg);
  width: 80px;
}
.can {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  transform: translate(-50%, -15%) rotate(-1deg);
}

.container .pro-card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 90;
}

.container .pro-card:hover .contentBx {
  height: 210px;
}

.container .pro-card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #333333;
  margin-bottom: 25px;
}

.container .pro-card .contentBx .details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.container .pro-card:hover .contentBx .details {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .pro-card .contentBx .details h3 {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .pro-card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #ffffff;

  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.container .pro-card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.3s;
}

/*////////////////////////////
Accordian */
.accordion {
  width: 86%;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #ffffff;
  color: #333333;
  margin: 1rem 0;
  border-radius: 3px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.accordion-item-header {
  padding: 1rem 3rem 1rem 1rem;
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\25BE";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  transition: ease-in-out 0.3s;
}
.accordion-item-header.active::after {
  transform: rotate(-180deg);
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #f0a202, transparent) 1;
}
/*////////////////////////////
Table */
.styled-table {
  border-collapse: collapse;
  margin: 2.5rem auto;
  font-size: 1.8rem;

  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr:nth-child(1) {
  line-height: 1;
}
.styled-table tbody tr:nth-child(1) {
  font-weight: 600;
  background-color: #fff2d9;
  color: #3c1518;
}
.styled-table td:first-child {
  font-weight: 600;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #f0a202;
}
/*////////////////////////////
Testimonials */
.testimonials {
  background-color: #0a618c;
}

/*////////////////////////////
About Us */
.white-sec-about {
  background-color: #ffffff;
}
.about-img {
  width: 360px;
  padding: 1rem 1rem 4.8rem 1rem;
  background-color: #ffffff;
  margin: 5rem auto !important;
  /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.253); */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}

.about-img.ruth {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
.about-description {
  margin: auto;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #3c1518;
}
/*////////////////////////////
CTA */

.section-cta {
  padding: 4.8rem 0 12.8rem;
  width: 100vw;
}
.cta {
  background-color: #f0a202;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  background-image: linear-gradient(
    rgba(253, 177, 26, 0.205),
    rgba(240, 161, 2, 0.205)
  );
  overflow: hidden;
}
.cta-textbox {
  padding: 0 2rem 2rem 2rem;
  color: #3c1518;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.contact-textbox {
  color: #3c1518;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-contact-textbox {
  color: #3c1518;
  font-size: 1.8rem;
  line-height: 1.8;
}

.cta-imgbox {
  width: 100%;
  height: auto;
  padding: 0 2rem 2rem 1rem;
  border-radius: 3px;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  padding: 0 1rem 2rem 2rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fff2d9;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form textarea ::placeholder {
  color: #aaaaaa;
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(250, 228, 209, 0.5);
}

.btn--cta {
  color: #ffffff;
}
/* ///////////////////////////////
Distributor */
.all-cities {
  max-width: 80%;
  padding-top: 10rem;
  margin: 0 auto;
}
.cities {
  font-weight: bold;
  font-size: 1.2rem;
}

/* //////////////////////////////
Collage */
.column {
  flex: 1/3;
  max-width: 33.33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* .column img:hover {
  zoom: 20%;
  overflow: hidden;
} */
.column video {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* ////////////////////////////////
Footer */

.footer {
  margin: 8rem auto 0;
  padding: 0;
  border-top: 1px solid #eeeeee;
}
.foot-box {
  margin: 2rem auto;
  justify-content: left;
}

.foot-logo {
  width: 10rem;
}
.contacts {
  padding: 1rem 1rem 1rem 0;
}
.footer .copy {
  text-align: center;
  border-top: 1px solid #eeeeee;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
